body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #E11D3F; /* Crimson */
    color: white; /* Cream text for contrast */
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    text-align: center;
    padding: 40px;
    background-color: black; /* Light cream background for content areas */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px; /* Set a fixed width for the container */
    margin-top: -50px; /* Optional: adjust based on overall layout */
}

header {
    margin-bottom: 20px;
}

#logo {
    width: 120px; /* Adjust as necessary */
    margin-bottom: 20px;
}

input[type="text"], select {
    width: calc(100% - 24px);
    padding: 12px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 16px;
}

button {
    width: calc(100% - 24px);
    padding: 12px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #E11D3F;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #E11D3F;
    color: white;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    background-color: white;
    color: #E11D3F;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
}
